page-history {
    ion-content{
        font-family: 'Raleway',sans-serif;
        background-color: color($colors,dark,base) !important;
    }

    .card-header{
        background-color: color($colors,primary,base);
        color: white;
        font-weight: bold;

    }

    ion-thumbnail{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:color($colors,primary,base);
        border-radius: 30%;
        
    }

    .thumb-label{
        color: white;
    }
    .thumb{
        font-size: 1.2em;        
        color: white;
    }

}
